<!DOCTYPE html>
<html
    lang="en"
    xmlns="https://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/main}"
>
    <body>
        <section layout:fragment="container">
            <h3 th:text="${title}"></h3>

            <div class="m-auto col-10">
                <div class="my-3 d-flex justify-content-end">
                    <button
                        class="d-block btn btn-sm btn-light d-inline-flex align-items-center border-2 border-dark"
                        type="button"
                        onclick="openForm()"
                    >
                        Add Book
                    </button>
                </div>

                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col" class="ps-3 col-sm-auto">#</th>
                            <th scope="col" class="col-4">Title</th>
                            <th scope="col">Author</th>
                            <th scope="col">Category</th>
                            <th scope="col">Publish Year</th>
                            <th scope="col">Stock</th>
                            <th scope="col">Handle</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <tr th:each="book, iter : ${books}">
                            <th
                                class="ps-3"
                                scope="row"
                                th:text="${iter.count}"
                            ></th>
                            <td
                                class="text-truncate"
                                style="max-width: 15ch"
                                th:text="${book.title}"
                            ></td>
                            <td th:text="${book.author.name}"></td>
                            <td th:text="${book.category.name}"></td>
                            <td th:text="${book.publishedYear}"></td>
                            <td th:text="${book.stock}"></td>
                            <td>
                                <button
                                    type="button"
                                    class="btn btn-sm btn-primary"
                                    data-bs-toggle="modal"
                                    data-bs-target="#myModal"
                                    th:value="${book.id}"
                                    onclick="editForm(this.value)"
                                >
                                    <i class="bi bi-pencil"></i>
                                </button>
                                <button
                                    type="button"
                                    class="btn btn-sm btn-danger"
                                    th:value="${book.id}"
                                    onclick="confirm('are you sure?', deleteBook(this.value))"
                                >
                                    <i class="bi bi-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!-- Modal -->
                <div
                    class="modal fade"
                    id="myModal"
                    data-bs-backdrop="static"
                    data-bs-keyboard="false"
                    aria-labelledby="formLabel"
                    aria-hidden="true"
                >
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1
                                    class="modal-title fs-5"
                                    id="titleModal"
                                ></h1>
                                <button
                                    type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"
                                ></button>
                            </div>
                            <div class="modal-body">
                                <div class="card">
                                    <div class="card-body">
                                        <form id="form">
                                            <input
                                                type="hidden"
                                                name="id"
                                                id="id"
                                            />

                                            <div class="mb-3">
                                                <label
                                                    for="title"
                                                    class="form-label text-truncate"
                                                    >Book Title</label
                                                >
                                                <input
                                                    type="text"
                                                    class="form-control form-control-sm"
                                                    id="title"
                                                    name="title"
                                                    placeholder="Harry Potter"
                                                    autofocus
                                                />
                                            </div>

                                            <div class="mb-3">
                                                <label
                                                    for="authorId"
                                                    class="form-label"
                                                    >Author</label
                                                >
                                                <select
                                                    class="form-select"
                                                    id="authorId"
                                                    data-placeholder="Choose one thing"
                                                ></select>
                                            </div>

                                            <div class="mb-3">
                                                <label
                                                    for="categoryId"
                                                    class="form-label"
                                                    >Category</label
                                                >
                                                <select
                                                    class="form-select"
                                                    id="categoryId"
                                                    data-placeholder="Choose one thing"
                                                ></select>
                                            </div>

                                            <div class="mb-3">
                                                <label
                                                    for="publisherId"
                                                    class="form-label"
                                                    >Publisher</label
                                                >
                                                <select
                                                    class="form-select"
                                                    id="publisherId"
                                                    data-placeholder="Choose one thing"
                                                ></select>
                                            </div>

                                            <div class="row mb-3">
                                                <div class="col">
                                                    <label
                                                        for="publishedYear"
                                                        class="form-label"
                                                        >Publish Year</label
                                                    >
                                                    <input
                                                        type="number"
                                                        class="form-control form-control-sm"
                                                        id="publishedYear"
                                                        name="publishedYear"
                                                        placeholder="2025"
                                                    />
                                                </div>

                                                <div class="col">
                                                    <label
                                                        for="stock"
                                                        class="form-label"
                                                        >Stock</label
                                                    >
                                                    <input
                                                        type="number"
                                                        class="form-control form-control-sm"
                                                        id="stock"
                                                        name="stock"
                                                        placeholder="0"
                                                    />
                                                </div>
                                            </div>

                                            <div class="mb-3">
                                                <label
                                                    for="synopsis"
                                                    class="form-label"
                                                    >Synopsis</label
                                                >
                                                <textarea
                                                    rows="4"
                                                    class="form-control form-control-sm"
                                                    id="synopsis"
                                                    name="synopsis"
                                                    placeholder="That Time I Got Reincarnated as a Slime"
                                                    autofocus
                                                ></textarea>
                                            </div>

                                            <button
                                                type="button"
                                                class="btn btn-primary"
                                                style="float: right"
                                                onclick="saveBook()"
                                            >
                                                Save
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

            <script src="js/book.js"></script>
        </section>
    </body>
</html>
